{%extends 'main.html'%}
{%load static%}
{% block content %}
<div>
    <div id="aboutme" class="aboutme">
        <div class='aboutme-content'>
        <img width=300px height=420px src="{% static 'images/collage-web-min.png'%}"/>
    
        <h1 class="aboutme-heading"> About Me </h1>
        
        </div>
        <p class="aboutme-para">My name is Amit Bisht, I'm a 3rd year Undergrad Pursuing Bachelors of Technology with Computer Science Major. I've been coding in python language since my Freshman year.<br><br>
        Over the course of 2 years, I've generated a great amount of interest and expertise in it. To explore more, I got into Machine Learning and that gained my focus. 
        I'm fluent with Python Libraries such as Pandas, Numpy, Scikit-learn, Matplotlib, Django. 
        I'm a really optimistic person, I don't get bothered and panicked by pressure works, I love to push my limits. Changes are something that I love to bring when working.
        <br><br>Coding is meditation to me, the way I enjoy building stuffs and solving problems completely takes me to another realm. 
        Apart from these, what heals me is travelling and photography. Mountains are my go to every once in a while.
        <ul class="aboutme-list">
            <li><b>Languages:</b> Python, Java, HTML, CSS</li>
            <li><b>Libraries:</b> Pandas, Django, Numpy, Matplotlib, Scikit-learn, OpenCV</li>
            <li><b>Database:</b> SQL</li>
            <li><b>Soft Skills:</b> Critical Thinking, Problem Solving, Great Communication, Work Ethic. </li>

        </ul>
        <br>
        <h2>Cheers!</h2>
        </p>
        

        
    </div>
</div>
{%endblock content%}


