{%extends 'main.html'%}
{%load static%}

{% block content%}

<div class="my-projects">
    <h1  class="project-heading">Projects I've Build </h1>
    <h4 style="text-align: center;font-weight: 400;margin-top: 40px;font-size: 20px;">This is a Collection of my work I've made recently including but not limited to Web Development,<br>Machine Learning, and Automation. Feeling great while sharing here.</h4>
    <ul class="project-elements">
        <li><a href= "https://github.com/ammuubisht/twitter_sentiment_analysis"> twitter sentiment analysis</a><br><br><span>-Analysis of sentiment of tweets dataset.</span></li>
        <li><a href= "https://github.com/ammuubisht/faceMaskDetection"> face mask detection</a><br><br><span>-Detects if a person is wearing face mask or not.</span></li>
        <li><a href= "https://github.com/ammuubisht/instabot"> instabot</a><br><br><span>-Performs Instagram Automation Tasks.</span></li>
        <li><a href= "https://github.com/ammuubisht/Book-recognizer"> book recognizer</a><br><br><span>-Recognizes the Book shown to it.</span></li>
    </ul>
</div>
{%endblock content%}
