h1.aboutme-heading{
    margin-left: 0vw;
    font-size: 70px;
    align-items:unset;
}


.aboutme{
    min-height: 80vh;
    width: 100%;
    padding: 0 20vw;
    margin: auto;
    margin-top: 10vh;
    
}

.aboutme-para{
    margin-top: 10vh;
}

.aboutme-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}

.aboutme-list{
    list-style: none;
    margin-top: 5vh;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
}

.aboutme-list li{
    font-size: large;
}

@media screen and (max-width:768px) {
    .aboutme-content{
        display: flex;
        flex-direction: column;
    }

    
    .aboutme-content{
        display: flex;
        flex-direction: column ;
        width: 100%;
        text-align: left;
        margin: 0;
        align-items: center;
        margin-top: 50px;
        }

    .aboutme-content img{
        width: 260px;
        height: 380px;

    }

    h1.aboutme-heading{   
        text-align: center; 
        overflow:unset; 
        white-space:unset;
        display: flex;
        align-items: center;
        font-size: 35px; 
        padding-top: 10vh;
    }
    
        
    .aboutme{
            align-items: center;
            min-height: 80vh;
            width: 90%;
            padding: 0 3vw;
        }
    
    .aboutme-para{
        margin-top: 10vh;
        }
}