.resume-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.resume-btn{
    text-decoration: none;
    color: #fff;
    background-color: darkorchid;
    padding: 10px 15px;
    border-radius: 20px;
}

.resume-frame{
    margin: auto 0;
}